.grandparent{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}

.grandparent div{
  margin : 5px;
  padding: 10px;
  border : 2px solid black;
  border-radius: 5px;
}

.item-1{
  grid-column: span -1;
}

.item-2{
  grid-column: span 3;
}

.item-4, .item-5{
  grid-row: span 6;
}

.item-6, .item-7{
  grid-row: span 3;
}

.item-3{
  grid-column: span 2;
  grid-row: span 3;
}

.item-8{
  grid-column: span 4;
  grid-row: span 2;
}
